body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 50px;
  font-family: sans-serif;
  background-color: #ffd3e8;
}
.taskhidden {
  display: none;
}
.taskunfinished {
  text-decoration: none;
}
.taskfinished {
  text-decoration: line-through;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #fff;
  width: 165px;
  background-color: lightgray;
}

button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066ff;
  color: #fff;
  border: 2px solid #0066ff;
}
button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

.btn-small {
  padding: 8px;
  font-size: 14px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066ff;
  color: #fff;
  border: 2px solid #0066ff;
}
/* .todoListMain .theList {
  list-style: none;
  color: red;
  padding-left: 0;
  width: 250px;
} */
.task {
  display: flex;
}
li {
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}

ul {
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  flex-direction: column-reverse;
}

li {
  color: #333;
  background-color: pink;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  transition: background-color 0.2s ease-out;
}

li:hover {
  background-color: pink;
  cursor: pointer;
}

li:hover {
  -webkit-box-shadow: 10px 10px 41px -18px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 10px 10px 41px -18px rgba(0, 0, 0, 0.64);
  box-shadow: 10px 10px 41px -18px rgba(0, 0, 0, 0.64);
  color: #ffffff;
  cursor: pointer;
}
.todo-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;

  -webkit-box-shadow: 10px 10px 41px -18px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 10px 10px 41px -18px rgba(0, 0, 0, 0.64);
  box-shadow: 10px 10px 41px -18px rgba(0, 0, 0, 0.64);
  background-color: #ffd7d5;
}
